VITE_API_BASE_URL=
VITE_MSW_ENABLED=on
VITE_MSW_DISABLE_LATENCY=off
VITE_MSW_DISABLE_STREAMING=off
VITE_MSW_VOTES_IN_MEMORY=on
VITE_SEED=
VITE_GOOGLE_MAPS_API_KEY=
VITE_GOOGLE_MAPS_MAP_ID=
VITE_GA_ID=
